<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0//EN" "http://www.w3.org/TR/REC-html40/strict.dtd">
<html data-ng-app="PySch" ng-controller="mainRaj">
	<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			PySch - Google Scholar Scraping
		</title>

    <link rel="stylesheet" href="css/main.css">
		<link rel="stylesheet" href="css/bootstrap.min.css">
	</head>
	<body>
    <div class="container-fluid">
      <div id="top-bar">
				<div class="form-group">
					<input type="text" class="form-control" id="searchbox" ng-keypress="checkKey($event)">
				</div>
			</div>

			<div class="col-sm-3">
				<div class="rajput-sidebar">

					<div class="group">
						<div class="title">Search in</div>
						<form name="myForm">
							<label>
								<input type="radio" ng-model="category" value="author"> Author
							</label>
							<label>
								<input type="radio" ng-model="category" value="journal"> Journal
							</label>
						</form>
					</div>

					<div class="group">
						<div class="title">Sort by</div>
						<form name="myForm1">
							<label>
								<input type="radio" ng-model="sorti" value="cites"> Citations
							</label>
							<label>
								<input type="radio" ng-model="sorti" value="year"> Year
							</label>
						</form>
						<input type="button" value="sort" ng-click="sorter()">
					</div>

					<div class="group">
						<label class="title">Year range</label>
						<div>
							<input type="text" placeholder="start year" ng-model="start_year">
							<input type="text" placeholder="end year" ng-model="end_year">
							<input type="button" value="Set filters" ng-click="filter()">
						</div>
					</div>
				</div>
			</div>

			<div class="col-sm-9">

				<div class="content container">
					<h4 ng-if="loading">Loading</h4>
					<h1><i>{{author}}</i></h1>
					<p ng-if="authorcites">Citations: {{authorcites}}</p>
					<p ng-if="authorh">h-index: {{authorh}}</p>
					<p ng-if="authori">i-index: {{authori}}</p>
					<div ng-repeat="item in items" class="search-result">
						<a href="{{item.url}}" target="_blank"><h3>{{item.name}}</h3></a>
						<h6>{{item.under}}</h6>
						<p>Cited {{item.cites}} times</p>
						<p>Published in {{item.year}}</p>
					</div>
				</div>

			</div>

		</div>
		<script src="js/angular.min.js"></script>
		<script src="js/main.js"></script>
	</body>
</html>
