<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0//EN" "http://www.w3.org/TR/REC-html40/strict.dtd">
<html data-ng-app="PySch" ng-controller="mainRaj">
	<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			PySch - Google Scholar Scraping
		</title>

    <link rel="stylesheet" href="css/main.css">
		<link rel="stylesheet" href="css/bootstrap.min.css">
	</head>
	<body>
    <div class="container-fluid">
      <div id="top-bar">
				<div class="form-group">
					<input type="text" class="form-control" id="searchbox" ng-keypress="checkKey($event)">
				</div>
			</div>
			<div class="content container">
				<h1><i>{{author}}</i></h1>
				<p ng-if="authorcites">Citations: {{authorcites}}</p>
				<p ng-if="authorh">h-index: {{authorh}}</p>
				<p ng-if="authori">i-index: {{authori}}</p>
				<div ng-repeat="item in items" class="search-result">
					<h3>{{item.name}}</h3>
					<h6>{{item.under}}</h6>
					<p>Cited {{item.cites}} times</p>
					<p>Published in {{item.year}}</p>
				</div>
			</div>
		</div>
		<script src="js/angular.min.js"></script>
		<script src="js/main.js"></script>
	</body>
</html>
