#top-bar {

   background: #26A69A;

   height: 60px;
   padding: 14px;

   position: fixed;
   top: 0;
   left: 0;
   z-index: 10001;
   width: 100%;
}

#search_box {
   width: 65%;
   margin: auto;
   top: auto;
   font-size: large;
   /*background-color: #C5CAE9;*/
   background-color: #dddddd;
   border: none;
   color: #000;
}

::-webkit-input-placeholder {
   color: #777 !important;
}

:-moz-placeholder { /* Firefox 18- */
   color: #777 !important;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #777 !important;
}

:-ms-input-placeholder {
   color: #777 !important;
}

a {
   text-decoration: none !important;
}

a:hover {
   text-decoration: none !important;
}

.content {
   padding-left: 35%;
   margin-top: 80px;
}

input[type="text"] {
   -webkit-border-radius: 2px;
}

input[type=checkbox].filter_cb {
   position: absolute;
   top: -9999px;
   left: -9999px;
}

/*
 * Search results
 */

.search-result {
   padding:25px;
}

.search-result h3 {
   margin-top: 0px;
}

.search-result:hover {
   background:#eee;
}

/*
 * Active filters above results
 */

.active-filter-list {
   display: inline-block;
}

.active-filter {
   background: #E8EAF6;
   float: left;
   width: auto;
   list-style-type: none;
   margin-right: 10px;
}

